{% extends "base.html" %}

{% block title %}Detalhe {{supplier.name}}{% endblock title %}

{% block content %}

  <div class="container mt-4">
    <h3 class="display-6" >Detalhes do Fornecedor</h3>
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">{{supplier.name}}</h3>
        <p class="card-text">{{supplier.description}}</p>        
      </div>
    </div>
    <a class="btn btn-secondary mt-3" href="{% url "supplier:list" %}">Voltar para lista</a>
  </div>

{% endblock content %}