{% extends "base.html" %}

{% block title %}Detalhe {{outflow.id}}{% endblock title %}

{% block content %}

  <div class="container mt-4">
    <h3 class="display-6" >Detalhes da Saida</h3>
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">{{outflow.product}}</h3>        
        <p class="card-text"><i class="bi bi-box-seam"></i> Qtde. | {{outflow.quantity}}</p>  
        <p class="card-text"><i class="bi bi-card-text"></i> Desc. | {{outflow.description}}</p>        
      </div>
    </div>
    <a class="btn btn-secondary mt-3" href="{% url "outflow:list" %}">Voltar para lista</a>
  </div>

{% endblock content %}