{% extends "base.html" %}

{% block title %}Novo Produto{% endblock title %}

{% block content %}

    <div class="container mt-4">
        <h3 class='display-6'>Cadastrar Novo Produto</h3>

        <div class="card">
            <div class="card-body">
                <form method="POST" class="form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </form>
            </div>
        </div>
        <a href="{% url "product:list" %}" class="btn btn-secondary mt-3">Voltar e Cancelar</a>
    </div>

{% endblock content %}