{% extends "base.html" %}

{% block title %}Deleção{{category.name}}{% endblock title %}

{% block content %}

  <div class="container">
    <h3 class="display-6">Deletar Categoria</h3>
    <div class="card">
      <div class="card-body">
        <p class="card-text">Tem certeza que deseja excluir a Categoria <strong>{{category.name}}</strong></p>
        <form method="POST" action="">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger mt-3">Deletar</button>
        </form>
        <a href="{% url "category:list" %}" class="btn btn-secondary mt-3">Cancelar e Voltar</a>
      </div>
    </div>
  </div>

{% endblock content %}